@import "../settings/colors.scss";
@import "../settings/fonts.scss";

* {
    font-family: $font-Righteous;
}

.gearbox-body {
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .gearbox-questions {
        background: $color-not-active;
        border: 1px solid $border-black;
        border-radius: 15px;
        margin-top: 25px;

        &:hover {
            background: $text-full-light;
        }

        &:active {
            background: $color-primary;
        }

        .question-space-gearbox {
            display: flex;
            padding: 8px;
            align-items: center;

            p {
                margin: 0 20px;
                font-size: 25px;
            }

            img {
                width: 80px;
                border-radius: 5px;
            }
        }
    }
}