@import "../settings/colors.scss";
@import "../settings/fonts.scss";

* {
    font-family: $font-Righteous;
}

// .visually-hidden {
//     color: red;
//     background: red;
// }

// .floating-exit-to-menu-button {
//     background: red;
// }

.exit-x {
    background: none;
    border: none;
}

.fa-exit {
    color: $background-main-color;
    font-size: 30px;
    background: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #ffa90096;
    border-radius: 50%;
    padding: 25px;
    z-index: 10;
}