@import "../settings/colors.scss";
@import "../settings/fonts.scss";

* {
    font-family: $font-Righteous;
}

// .visually-hidden {
//     color: red;
//     background: red;
// }

.floating-exit-to-menu-button {
    background: red;
}

.exit-x {
    background: none;
    border: none;
}

.fa-exit {
    background: none;
    position: fixed;
    right: 0;
    bottom: 0;
}