@import "../settings/colors.scss";
@import "../settings/fonts.scss";

* {
    font-family: $font-Righteous;
}

.visually-hidden {
    color: red;
    background: red;
}

.fa-exit {
    background: none;
    position: fixed;
    right: 0;
    bottom: 0;
}