@import "./settings/colors.scss";
@import "./settings/fonts.scss";
// @import "scss/_transitions.scss";

$transition-collapse: height .35s ease;

* {
    font-family: $font-Righteous;
}

.menus-up {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-dark;
    background-image: url(../../public/icons/wish_backg.png);
    font-size: 40px;
    z-index: 5;
}

.menu-top{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    color: $text-dark;
    background-image: url(../../public/icons/wish_backg.png);
    font-family: $font-Righteous;
    font-size: 25px;


}

.menu-todays-car {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    box-shadow: 0px 0px 20px -10px rgba(36, 35, 35, 1);
    position: relative;
    top: -20px;
    z-index: 1;

    .car-presentation {
        .brand-logo {
            width: 100px;
            height: 40px;
            position: relative;
            z-index: 1;
            top: 45px;
            background: none;
        }
        .car-photo {
            position: relative;
            top: -40px;
            z-index: 2;

            .carousel-indicators {
                // display: none;
                background: none;

                & button {
                    background-color: $background-main-color;
                }
            }

        }
    }

    .parameters-box {
        background-color: $text-full-light;
        height: 200px;
        // width: 325px;
        margin-left: 15px;
        margin-right: 15px;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // top: -120px;
        // position: relative;
        border-radius: 15px;
        margin-top: -120px;

        .car-title {
            display: flex;
            justify-content: center;
            background: none;
            font-family: $font-Righteous;
            margin-top: 70px;
            

            .title-description {
                display: flex;
                background: none;
                font-size: 22px;
                height: 40px;
                margin-top: 5px;

                .car-brand {
                    color: $color-primary;
                    margin-right: 10px;
                }
                .car-name {
                    color: $text-dark;
                }
                & p {
                    background: none;
                }

            }

            .fa-heart {
                color: $background-main-color;
                background: none;
                display: flex;
                align-items: center;
                font-size: 20px;
                margin-left: 10px;

                &:hover {
                    color: $color-primary;
                }
                &:active {
                    color: $color-primary;
                }
                &:focus {
                    color: $color-primary;
                }
            }
        }

        .car-data-box {
            background: none;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-size: 18px;
            font-family: $font-Righteous;

            .box-left {
                color: $text-dark;
                background: none;
                display: flex;
                align-items: center;


                .parameters-icons {
                    background: none;
                    display: flex;
                    flex-direction: column;
                    margin-right: 10px;

                    img {
                        margin-bottom: 0;
                    }
                
                    .engine-icon {
                        background: none;
                        width: 24px;
                        height: 24px;
                        margin-bottom: 5px;
                        color: $background-main-color;
                    }
                    .bodytype-icon {
                        width: 24px;
                        height: 24px;
                        background: none;
                    }
                }
                .parameters-datas {
                    background: none;
                    display: flex;
                    flex-direction: column;

                    .statis {
                        background: none;
                        color: $background-main-color;
                    }
                }
            }
            .box-right {
                display: flex;
                flex-direction: column;
                align-items: center;
                background: none
                
                span {
                    background: none;
                    font-weight: 600;
                    background: none;
                }

                .car-prize {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    margin: 0;
                    font-size: 24px;
                    color: $color-primary;

                    p {
                        font-size: 12px;
                        color: $color-primary;
                        margin: 0 2px 0 0;
                    }
                }

                & span:last-child {
                    font-size: 10px;
                    color: $color-primary;
                }
            }          
        }
}

.more-infos {
    background: $text-full-light;
    display: flex;
    border-radius: 10px;
    margin-top: -10px;
}
    .more-stats {
        background: $text-full-light;
        padding: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin: -20px 15px 0 15px;
        
        .more-ad {
            color: $text-dark;
            display: flex;
            align-items: center;
            margin: -8px 5px;
            align-items: baseline;
            span {
                color: $text-dark;
                margin: 0 15px 0 45px
            }
            // &:first-of-type {
            //     margin-left: 0;
            // }
            // &:last-of-type {
            //     margin-right: 0;
            // }
            p {
                color: $color-secondary;
                font-size: 14px;
            }
        }

    }


.today-footer{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: -124px;



    

        & p {
            color: white;
            justify-content: center;
            display: block;
            // font-family: $font-roboto;
            font-weight: 300;
            font-size: 12px;
        }
    }
}

.menu-nav {
    display: flex;
    flex-direction: column;
    margin: -30px 15px 0 15px;


    .nav-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;
        margin: 15px 0;
    }

    .button-inside {
        background: none;
        display: flex;
        align-items: center;


        // &:hover {
        //     color: $background-main-color;
        // }
        // &:active {
        //     color: $background-main-color;
        // }
    }

    & button {
        border-color: $color-primary;
        border-radius: 15px;
        color: $text-full-light;
        font-family: $font-Righteous;
        background: $background-submain-color;
        display: flex;
        align-items: center;
        box-shadow: 0px 0px 20px -10px rgba(36, 35, 35, 1);
        

        &:hover {
            background: $color-primary;
            color: $background-main-color;
        }
        &:hover .fa-heart {
            color: black;
        }
        &:active {
            background: $color-primary;
            color: $background-main-color;
        }

        & p {
            background: none;
            margin: 0;
            font-size: 20px;
            margin-left: 30px;
        }

        .fa-solid{
            color: $color-primary;
            font-size: 20px;
            background: none;

            &:hover {
                color: $background-main-color;
            }
        }

        & img {
            width: 20px;
            background: none;
        }
    }

}

.menu-start-searcher {
    display: flex;
    flex-direction: column;
    font-family: $font-Righteous;
    margin: 15px 15px;
    align-items: center;

    .searching-start-button {
        display: flex;
        justify-content: center;
        padding: 20px 100px;
        border-radius: 15px;
        color: $text-full-light;
        font-family: $font-Righteous;
        // background: $color-primary;
        background-image: url(../../public/icons/wish_backg.png);
        display: flex;
        box-shadow: 0px 0px 20px -10px rgba(36, 35, 35, 1);
        // margin-bottom: 20px;
        font-size: 40px;
        width: -webkit-fill-available;

        &:hover {
            background: $text-full-light;
            color: $background-main-color;
        }
        &:active {
            background: $color-primary;
            color: $background-main-color;
        }
    }
    
    h1 {
        margin-top: 10px;
        background: none;
        font-size: 12px;
        color: $text-full-light;
        display: flex;
        justify-content: center;

    }
    p {
        // display: flex;
        // position: absolute;
        // bottom: 0;
        // right: 0;
        font-size: 5px;

    }
}

/////////////////////////////////////////////////////////////////
.questions-body {
    height: 520px;
}
/////////////////////////////////////////////////////////////////
.pagination {
    display: flex;
    justify-content: center;
    position: relative;
    top: 15px;
    padding: 0;
    height: auto;

    .page-item {
        background: $text-full-light;
        width: 18px;
        height: 18px;
        margin: 0 6px;
        border-radius: 50%;
    }   
}

//////////////////////////////////////////////////////////////
.modal-dialog {
    color: $border-black;
    
}

.modal-content {
    background: $color-not-active;
    color: black;
    
}
.modal-text{
    color: $border-black;
    font-size: 18px;
    text-align: center;
}

.modal-footer {
    display: flex;
    justify-content: space-evenly;
    border: none;

    .btn-primary {
        background: $text-full-light;
        color: $border-black;
        border: none;

        &:hover {
            background: $background-submain-color;
            color: $text-full-light;
        }
        &:last-of-type {
            background-color: $color-secondary;

            &:hover {
                background: $background-submain-color;
                color: $color-secondary;
            }
        }
    }
}

.menu-more-button {
    color: $background-main-color;
    background: $color-primary;
    position: relative;
    display: flex;
    justify-content: center;
    top: -10px;
    width: 105px;
    border-radius: 10px;
    border-color: transparent;
    font-family: $font-Righteous;
    color: $background-main-color;
    font-size: 15px;
    font-weight: 500;
    // text-transform: uppercase;
    box-shadow: 0px 0px 20px -10px rgba(36, 35, 35, 1);

    &:hover {
        background: $color-not-active;
        color: $text-full-light;
    }
}